<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="icon" type="image/png" href="favicon.png" /> 
		<meta name="description" content="Nombre y Apellido, Coder, Desarrolladora Web" />
		<title>Nombre y Apellido</title>
	</head>
	<body class="two">
		<img class="name" src="img/profile-1.png">
		<h1 class="center";>Nombre y Apellido</h1>
		<p class="def">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam molestiae quidem obcaecati ex repellendus non harum corporis quam labore eos aliquam aspernatur quaerat, voluptas expedita laboriosam est recusandae esse laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<h2>Habilidades</h2>
		<p class="bar alfa">HTML</p>
		<p class="bar beta">CSS</p>
		<p class="bar gama">JavaScript</p>

		<h2>Portafolio</h2>
		<ul class="table">
			<li class="z">
				<img class="y"src="img/p5.jpg">
			</li>
			<li class="z">
				<img class="y"src="img/p6.jpg"> 
			</li>
			<li class="z">
				<img class="y" src="img/p8.jpg"> 
			</li>
			<li class="z">
				<img class="y"src="img/p5.jpg"> 
			</li>
			<li class="z">
				<img class="y" src="img/p6.jpg"> 
			</li>
			<li class="z">
				<img class="y" src="img/p8.jpg"> 
			</li>
		</Ul>
		<a class="ref" href="index3.html">Contacto</a>
	</body>