<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Laboratoria"/>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="icon" type="image/png" href="favicon.png" /> 
		<meta name="keywords" content="coders,mujeres,superación,becas,trabajo" />
		<meta name="description" content="Soluciones web, formación de diseñadoras web,encontrar mejor trabajo" />
		<title>Layaout</title>
	</head>
	<body>
		<img class="logo" src="img/logo.png">
		<hr>
		<ul class="menu">
			<li>Inicio |</li>
			<li>Sobre Nosotros |</li>
			<li><a href="#Nuestras Coders"> Nuestras Coders |</a></li>
			<li><a href="index3.html">Contacto</a></li>
		</ul>
		<hr>
		<img class="gpo" src="img/grupal.jpg">
		<hr class="line">
		<p>Laboratoria existe para encontrar jóvenes<br>
		   mujeres con potencial pero sin acceso a<br>
           educación superior de calidad, y<br>
           transformarlas en talentosas desarrolladoras<br>
           web, que sirven clientes locales e<br>
           internacionales con soluciones digitales de<br>
           excelente calidad.</p>
		<hr class="line">
		<h1>Nuestras Coders</h1>
		<a name="Nuestras Coders"></a>
		<hr class="line one">
		<ul>
			<li><a href="index2.html">
					<img class="prof" src="img/profile-1.png">
				</a>
				<p class="na"> Nombre y Apellido</p> 
			</li>
			<li><img class="prof" src="img/profile-2.png"> 
				<p class="na"> Nombre y Apellido</p> 
			</li>
			<li><img class="prof" src="img/profile-3.png"> 
				<p class="na"> Nombre y Apellido </p> 
			</li>
			<li><img class="prof" src="img/profile-4.png"> 
				<p class="na"> Nombre y Apellido </p> 
			</li>
			<li><img class="prof" src="img/profile-5.png"> 
				<p class="na"> Nombre y Apellido </p> 
			</li>
			<li><img class="prof" src="img/profile-6.png"> 
				<p class="na"> Nombre y Apellido </p> 
			</li>
		</ul>
	</body>
</html>


