<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="icon" type="image/png" href="favicon.png" /> 
	<title>Contacto</title>
</head>	
<body class="two three">
	<h1 class="contact">Contacto</h1>
	<p class="bar form">Nombre:</p>
	<input class="form" type="text" size="62" maxlength="30" value="Nombre" name="nombre">
	<p class="bar form">E-Mail:</p>
	<input class="form" type="text" size="62"value="Mail" name="mail">
	<p class="bar form">Mensaje:</p>
	<textarea class="form" name="comentarios" rows="5" cols="64">Escribe aquí tus comentarios</textarea>
	<button class="send" type="submit">Enviar</button>	
</body>
</html>