/**Estilos generales**/
/**Verde Ligue Político - rgba(48, 204, 113, 0.1)
Morado Ligue Político - #745EC5**/
*{
	font-family: "Latolight";
}
body{
	 overflow-x: hidden;
}
@font-face{
	font-family: LatoHeavy;
	src: url(../fonts/LatoHeavy.ttf);
}
@font-face{
	font-family:Latolight ;
	src: url(../fonts/Latolight.ttf);
}
@font-face{
	font-family: DolceVita;
	src: url(../fonts/DolceVita.ttf);
}
@font-face{
	font-family: Neoteric-Bold;
	src: url(../fonts/Neoteric-Bold.ttf);
}
a{
	text-decoration: none;
	font-size: 3em;
	color: #30CC71;
	font-family: Neoteric-Bold;
}
.big{
-webkit-transition:-webkit-transform .5s ease-out;
-moz-transition:-moz-transform .5s ease-out;
-o-transition:-o-transform.5s ease-out;
-ms-transition:-ms-transform .5s ease-out;
transition:transform .5s ease-out;
}
.big:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}
button{
	text-align: center;
    border-style: none;
	background-color:#745EC5;
	padding: 2% 4% 2%;
	background-position: bottom left, top right, 0 0, 0 0;
    background-clip: border-box;
}
h2{
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 3em;
	text-align: center;
}
/**Barra con logotipo y botón de descarga**/
header{
	background:-moz-linear-gradient(top, rgba(116, 94, 197, 0.4), rgba(48, 204, 113, 0.4)); 
	background: -webkit-linear-gradient(top, rgba(116, 94, 197, 0.4), rgba(48, 204, 113, 0.4)); 
	background: -o-linear-gradient(top, rgba(116, 94, 197, 0.4), rgba(48, 204, 113, 0.4)); 
	background: -ms-linear-gradient(top, rgba(116, 94, 197, 0.4),rgba(48, 204, 113, 0.4)); 
	background: linear-gradient(top, rgba(116, 94, 197, 0.4), rgba(48, 204, 113, 0.4));
	width: 100%;
	position: fixed;
	z-index: 100;
	height: 5em;
	text-align: center;
}
.margin{
	margin-top: 1%;
}
/**Primera sección de la página, parte con el background del móvil.**/
.movil{
	background-image:url("../img/liguecel.jpg ");
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	height:60em;
}
.title{
	color: #fff;
	text-align: center;
	margin-top: 35%;
}
.movil h1{
	font-size: 10em;
	font-family: LatoHeavy;
}
.movil h3{
	font-size: 7em;
	font-family: LatoHeavy;
}
.important{
	margin-top: 1%;
}
/**Renglón informativo; se resumió toda la información en frases simples para beneficio del usuario.**/
.blackrow{
	background-color: black;
	color:#fff;
	font-size: 2em;
	text-align: center;
}
/**Sección de características**/
p{
	font-size: 1.4em;
	text-align: justify;
}
h3{
	text-align:center;
}
.radius{
	border-radius: 50%;
	border-style:solid;
	border-width: .3em;
	border-color: #745EC5;
	padding:1em;
	width:10em;
	height: 10em;
	text-align: center;
	margin:auto;
	margin-bottom: 4%;
}
.margin2{
	margin-top:25%;
}
.margin3{
	margin-top: 45%;
}
.display{
	display: inline;
}
.displayimg{
	display: inline;
	width: 15%;
	margin-top: 4%;
	margin-right: 5%;
}
/**Inicia la sección de objetivos**/
.objective{
	background-color:#D3D3D3;
	text-align: 
}
/**Zona de aliados**/
.logo{
	margin-top: 2%;
	width: 100%;
	height: auto;
}
.partnerships p{
	text-align: center;
}
.marginauto{
	text-align: center;
}
/**Inicia footer**/
footer{
	background-color: black;	
}
footer p{
	color:#fff;
	font-size: 1.2em;
	text-align: center;
}
	